@charset "UTF-8";
/*
 * top/style.css
 *
 */





/* ●▲ >> */
/*.bx-controls,
.bx-has-pager,
.bx-has-controls-direction{ display:none; }
*/
/* ●▲ << */



/*
topMainVisual

*/

@import url('https://fonts.googleapis.com/css?family=Lato:300');

#topMainVisual{}
#topMainVisual .visualWapper{
	width: 100%;
	height: 369px;
	background: url(../images/pic_mv_01.jpg) no-repeat center center;
	background-size: cover;
	background-color: #93c6cc;
	position: relative;
}
#topMainVisual .visualWapper .leadText{
	position: absolute;
	top:189px;
	left: 50%;
	font-size: 14px;
	
	margin-left: -480px;
	line-height: 2.2em;
	text-align: left;
	letter-spacing: -0.07em;
}

/* topMainimgWrap
-------------------------------------------------------------- */
#topMainimgWrap {}
#topMainimg {
	position:relative;
	overflow: hidden;
	height:300px;
	text-align: left;
}
.sp-buttons{
	position:absolute !important;
	bottom:0;
}
.sp-button {
	width: 12px !important;
	height: 12px !important;
	/*border:none !important;*/
	border-radius: 0 !important;
	margin: 4px !important;
	display: inline-block !important;
	-moz-box-sizing: none !important;
	-webkit-box-sizing: none !important;
	box-sizing: none !important;
	background:#FFF !important;
}
.sp-selected-button{background:#2359a4 !important;}
.topMainimgIn {position: relative;width: 960px;}


.topMainimgIn figure img:hover {
	opacity: 0.9;
	filter: alpha(opacity=90);
	zoom: 1;
}

/* topMainimgDetail */
.topMainimgDetail01{
	position: absolute;
	left: 48px;
	top: 232px;
}

.topMainimgDetail02 {
	position: absolute;
	left: 40px;
	top: 35px;
}
.topMainimgDetail02 p {	
	color: #fff;
}
.topMainimgTxt01 {
	font-size: 134%;
	line-height: 1.3;
}
.topMainimgTxt02 {
	margin-top: 4px;
	font-size: 433%;
	font-weight: bold;
	line-height: 1.3;
}
.topMainimgTxt03 {
	margin-top: -12px;
	font-size: 184%;
	line-height: 1.3;
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
}
.topMainimgTxt04 {
	margin-top: 15px;
	font-size: 134%;
}


/* topMainimgBtn01 */
.topMainimgBtn{
	background: url(../images/bg_MainimgBtn.png) repeat left bottom;
	width: 240px;
	position: absolute;
	left: 40px;
	bottom: 30px;
}

.topMainimgBtn span {
	background:url(../images/ico_slider01_arrow01.png) 10px center no-repeat;
	display: block;
	padding: 7px 25px 7px 30px;
	color: #fff;
}



.topMainMovie{
	position: relative;
	height: 370px;
	overflow: hidden;
	background-color: white;
}

.topMainMovie video{
	position: absolute;
	width: 2000px;
	height: auto;
	left: 50%;
	margin-left: -1000px;
	top: 0%;

}
.topMainMovie:after{
	content: "";
	display: block;
	width: 2000px;
	height: 370px;
	background:url(../images/movie_overlay.png) center center no-repeat;
	position: absolute;
	left: 50%;
	margin-left: -1000px;
	top: 0%;

}

#topMainText {
	position: relative;
	z-index: 100;
	margin-top: -13px;
}
#topMainText p{
	padding-top: 40px;
	font-size: 14px;
}


/* topMainimgPager */




#topMainimgPager {
	display:block;
	width:100%;
	position: absolute;
	z-index:99999;
	left: 0;
	bottom: 0;
}
#topMainimgPager ul {
	display:inline-block;
	width:auto;
	overflow:hidden;
	margin:0 auto;
	padding:0;
	text-align: center;
}
#topMainimgPager ul li {
	display: inline-block;
	width:12px;
	height:12px;
	background:#FFF;
	cursor:pointer;
	margin:0 4px;
	padding:0;

}


/* topProductsWrap
-------------------------------------------------------------- */
#topProductsWrap{
	position: relative;
	width: 980px;
	margin: 40px auto 40px;
	text-align: left;
	height: 258px;

}

#topProductsWrap ul:after{
	content: "";
	display: block;
	clear: both;

}

#topProductsWrap ul li{
	display: block;
	width: 250px;
	height: 258px;
	float: left;
	margin:0;
	text-align: center;
	
}
#topProductsWrap ul li:first-child{
	margin-left: 0;
}
#topProductsWrap ul li:last-child{
	margin-right: 0;
}
#topProductsWrap ul li a {
	margin: 0 auto;
	text-align: left;
	position: relative;
	display: block;
	width: 215px;
	height: 240px;
	border: 5px solid #eee;
	background-color: white;
	/*box-shadow:2px 2px 4px 0px rgba(0,0,0,0.15);*/

}
#topProductsWrap ul li a.new:after{
	content:'';
	position: absolute;
	display: block;
	top: -5px;
	left: -5px;
	width: 74px;
	height: 26px;
	background: url(../images/new_product.png) no-repeat;


}
#topProductsWrap ul li a figure {
	background-color: white;
}
#topProductsWrap ul li a figure img{
	width: 100%;
	height: auto;
}
#topProductsWrap ul li a:hover figure img{
	opacity: 0.75;
}
#topProductsWrap ul li a p{
	width: 185px;
	position: absolute;
	bottom: 0;
	font-size: 16px;
	color: #727171;
	margin:0 15px 15px; 
	letter-spacing: -0.03em;
	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
	letter-spacing: -0.05em;
}
#topProductsWrap ul li a p:after{
	content: "";
	display: block;
	clear: both;

}
#topProductsWrap ul li a p span{
	display: block;
	width: 100%;
	height: 31px;
	font-size: 26px;
	font-weight: bold;
	font-style: italic;
	letter-spacing: 0.01em;
	color: #2359a4;
	margin-top: 15px;
	line-height: 31px;
	font-family:"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
	background: url(../images/ico_arrow04.png) no-repeat right center;
	
}
#topProductsWrap ul li a:hover p span{
	opacity: 0.75;
}
#topProductsWrap ul li a p span span{
	display: inline;
	background: none;
	width: auto;
	font-size: 14px;
	margin-left: 5px;
}

#topProductsWrap ul li a p.sat-56{
	font-size: 13px;
	letter-spacing: -0.15em;
}
#topProductsWrap ul li a p.sat-56 span{
	font-size: 20px;
	line-height: 1.2em;
	height: 44px;
	width: 160px;
	padding-right: 25px;
	background-position: right 10px;
	margin-top: 5px;
}
#topProductsWrap ul li a p span.lfm-150 {
	float: left;
	margin-top:10px;
	padding-bottom: 7px;
	background-position: right 6px;

}
#topProductsWrap ul li a p span.lfm-150 span{
	font-size: 14px;
	float: left;
	background: none;
	height: 14px;
	margin-top:0;
	line-height: 0.2em; 
	width: 100%;
	margin-left: 0;

} 
#topProductsWrap ul li a p span.xenon_to_led{
	font-size: 20px;
	line-height: 1.2em;
	height: 44px;
	width: 160px;
	padding-right: 25px;
	background-position: right 10px;
}

#topProductsWrap .bx-controls{
	display: block;
	width: 100%;
	text-align: center;

}

#topProductsWrap .bx-controls .bx-pager-item{
	float: left;
}
#topProductsWrap .bx-controls .bx-pager-item a{
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	background: #2359a2;
	text-indent: -10000px;
}

#topProductsWrap .prev,#topProductsWrap .next{

	display: block;
	position: absolute;
	z-index: 100;
	top: 50%;
	margin-top: -15px;
}
#topProductsWrap .prev{
	left:  -35px;
}
#topProductsWrap .next{
	right:  -35px;
}

/* infoBannerA
*/
#infoBannerA{
	width: 100%;
	height: 160px;
	margin-bottom: 40px;
	position: relative;
	background: url(../images/info_banner_a_bg.jpg) no-repeat center center;
	background-color: #93c6cc;
}

#infoBannerA .headText{
	width: 960px;
	margin: 0 auto;
	text-align: left;
	font-size: 32px;
	line-height: 160px;
	letter-spacing: 0.1em;
	font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}
#infoBannerA .linkText{
	position: absolute;
	width: 960px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-left: -480px;
	margin-top: -30px;
}
#infoBannerA .linkText a{
	position: absolute;
	display: block;
	top:0;
	right: 0;
	width: 286px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;

	color: #666;
	box-shadow:2px 2px 4px 0px rgba(0,0,0,0.15);
	text-indent: 30px;
	text-decoration: none;
	background: url(../images/ico_new_window.gif) no-repeat 60px center;
	background-color: white;

}
#infoBannerA .linkText a:hover{
	background: url(../images/ico_new_window.gif) no-repeat 60px center;
	background-color: #f5f5f5;

}

/* infoBannerB
*/
#infoBannerB{
	width: 100%;
	height: 160px;
	margin-bottom: 40px;
	position: relative;
	background: url(../images/info_banner_b_bg.jpg) no-repeat center center;
	background-color: #2359a2;
}

#infoBannerB .headText{
	width: 960px;
	margin: 0 auto;
	text-align: left;
	font-size: 32px;
	
	font-weight: bold;
	letter-spacing: 0.1em;
	padding-top: 35px;
	color: white;
	position: relative;
}
#infoBannerB .headText span.box{
	display: inline-block;
	position: absolute;
	height: 20px;
	line-height: 20px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: bold;
	padding: 2px 10px;
	border: 2px solid white;
	margin-left: 11px;
	
	
}
#infoBannerB .subText{

	width: 960px;
	margin: 0 auto;
	font-size: 18px;
	text-align: left;
	color: white;
	margin-top: 18px;
}
#infoBannerB .linkText{
	position: absolute;
	width: 960px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-left: -480px;
	margin-top: -30px;
}
#infoBannerB .linkText a{
	position: absolute;
	display: block;
	right: 0;
	width: 286px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	color: #666;
	box-shadow:2px 2px 4px 0px rgba(0,0,0,0.15);
	text-indent: 30px;
	text-decoration: none;
	background: url(../images/ico_new_window.gif) no-repeat 35px center;
	background-color: white;

}
#infoBannerB .linkText a:hover{
	background: url(../images/ico_new_window.gif) no-repeat 35px center;
	background-color: #f5f5f5;

}
/* infoBannerB
*/
#infoBannerC{
	width: 100%;
	height: 160px;
	margin-bottom: 40px;
	position: relative;
	background: url(../images/info_banner_c_bg.jpg) no-repeat center center;
	background-color: #efefef;
	
}


#infoBannerC .headText{
	
	width: 960px;
	margin: 0 auto;
	text-align: left;
	font-size: 22px;
	
	font-weight: bold;
	padding-top: 30px;
	color: #111;
	position: relative;
}

#infoBannerC .subText{

	width: 960px;
	margin: 0 auto;
	font-size: 14px;
	text-align: left;
	color: #111;
	margin-top: 6px;
	line-height: 30px;

}
#infoBannerC .linkText{
	position: absolute;
	width: 960px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-left: -480px;
	margin-top: -30px;
}
#infoBannerC .linkText a{
	
	display: block;
	width: 286px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	color: #666;
	box-shadow:2px 2px 4px 0px rgba(0,0,0,0.15);
	float: right;
	text-decoration: none;
	background: url(../images/ico_new_window.gif) no-repeat 35px center;
	background-color: white;

}
#infoBannerC .linkText a:hover{
	background: url(../images/ico_new_window.gif) no-repeat 35px center;
	background-color: #f5f5f5;
}


#infoBannerD{
	width: 100%;
	height: 160px;
	margin-bottom: 40px;
	position: relative;
	background: url(../images/info_banner_d_bg.jpg) no-repeat center center;
	background-color: #8bbbd2;
	color: white;

}
#infoBannerD:before{
	content: "";
	width: 110px;
	height: 160px;
	background: #ccc;
	position: relative;
	top: 0;
	left: 0;

}

#infoBannerD .banner_wapper{

	width: 852px;
	height: 160px;
	text-align: left;
	margin: 0 auto;
	padding-left: 146px;
	padding-right: 32px;
	background: url(../images/info_banner_d_icon.png) no-repeat;
	background-position: left center ;
}

#infoBannerD .headText{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin-top: 23px;
	font-size: 14px;
	padding: 4px 4px 4px 8px;
	border: 1px solid white;
	letter-spacing: 0.4em;
	
}

#infoBannerD .mainText{
	font-size: 32px;
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.07em;
	margin-top:23px;
	line-height: 0.5em;
}

#infoBannerD .subText{
	font-size: 14px;
	letter-spacing: 0.4em;
	margin-top:18px;

}
#infoBannerD .linkText{
	position: absolute;
	text-align: center;
	width: 960px;
	height: 60px;
	top: 50%;
	left: 50%;
	margin-left: -480px;
	margin-top: -30px;
}
#infoBannerD .linkText a{
	
	display: block;
	width: 226px;
	height: 60px;
	line-height: 60px;
	font-size: 16px;
	color: #666;
	box-shadow:2px 2px 4px 0px rgba(0,0,0,0.15);
	float: right;
	text-decoration: none;
	background: url(../images/ico_new_window.gif) no-repeat 35px center;
	background-color: white;
	text-indent: 25px;

}
#infoBannerD .linkText a:hover{
	background: url(../images/ico_new_window.gif) no-repeat 35px center;
	background-color: #f5f5f5;

}

/* topMainimgWrap
-------------------------------------------------------------- */
#topSlider02Wrap {
	width: 100%;
	background-color: #f8f8fb;
	padding: 30px 0 10px;
}
.topSlider02Tit01 {
	font-size: 142%;
	font-weight: bold;
	text-align: center;
	line-height: 1.3;
}

#topSlider02 {
	width: 960px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

#topSlider02 .prev,
#topSlider02 .next {
	position: absolute;
	top: 50%;
	cursor: pointer;
	zoom: 1;
	margin-top: -38px;
	width: 20px;
	height: 30px;
}
#topSlider02 .prev {
	left: -40px;
}
#topSlider02 .next {
	right: -40px;
}
#topSlider02 .prev a,
#topSlider02 .next a {
	width: 12px;
	display: block;
}

.topSlider02In {
	width: 960px;
	overflow: hidden;
	margin-top: 20px;
}
#topSlider02 .bx-controls{text-align:center;}
#topSlider02 .bx-pager{
	display:inline-block;
	margin:10px auto 0;
	clear:both;
}
#topSlider02 .bx-pager-item{float:left;}
#topSlider02 .bx-pager-item a{
	display:block;
	width:12px;
	height:12px;
	background:url(../images/ico_slider_pager.png) right 0 no-repeat;
	margin:5px;
	text-indent:-9999px;
}
#topSlider02 .bx-pager-item a.active{background-position:left 0;}



.topSlider02In ul {
	width: 980px;
}
.topSlider02In ul li {
	float: left;
	margin-right: 20px;
	width: 225px;
	background-color: #fff;
}
.topSlider02In ul li a {
	text-decoration: none;
	color: #333;
}
.topSlider02In ul li a:hover img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	zoom: 1;
}

.topSlider02Detail {
	border: 1px solid #dfdfdf;
	padding: 10px 15px 10px;
}
.topSlider02Txt01 {
	text-align: center;
	display:table;
	width:100%;
	table-layout:fixed;
}
.topSlider02Txt01 p{
	display:table-cell;
	width:100%;
	vertical-align:middle;
}


.topSlider02Txt01 span {
	display:block;
	padding:5px 0 0;
	font-size: 117%;
	font-weight: bold;
	text-align: center;
}

.topSlider02Txt03 {
	border-top: 1px solid #dfdfdf;
	padding-top: 8px;
	margin-top: 2px;
}

/* topH201
-------------------------------------------------------------- */
.topH201 {
	position: relative;
	display: table;
	width: 100%;
	background-color: #fff;
	margin-bottom: 20px;		
}
.topH201 span {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.topH201 span.icon01 {
	width: 44px;
	border: 1px solid #2359a4;
	border-right: none;			
}
.topH201 span.title01 {
	background-color: #f5f5f9;
	border: 1px solid #dfdfdf;
	border-left: none;
	padding: 3px 0 0 15px;
	font-size: 142%;
	font-weight: bold;
	color: #26253e;
	line-height: 1.3;
}
.topH201 span.btn01 {
	background: url(../images/ico_arrow01.png) left center no-repeat;
	padding-left: 12px; 
	display: inline-block;
	position: absolute;
	top: 12px;
	right: 22px;
}
.topH201 span.btn01 a {
	color: #333;
}
/* topH301
-------------------------------------------------------------- */
.topH301 {
    color: #2359a4;
    font-size: 123.1%;
	font-weight: bold;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 20px;
}

.topH301 span {
	border-bottom: 2px solid #2359a4;
    display: inline-block;
    margin-bottom: -1px;
    padding-bottom: 5px;
}

/*topProductBox01

-------------------------------------------------------------- */


.topProductBox01,
.topProductBox02,
.topProductBox03{
	margin-bottom: 40px;
}

.topProductBox01 ul,
.topProductBox02 ul {
	margin: 0 -11px 0 0;
	display: block;
}
.topProductBox01 ul:after,
.topProductBox02 ul:after{
	content: "";
	display: block;
	clear:both;
}

.topProductBox01 ul li,
.topProductBox02 ul li {
	position: relative;
	float: left;
	width: 338px;
	margin: 0 20px 10px 0;
}
.topProductBox01 ul li:nth-child(even),
.topProductBox02 ul li:nth-child(even){

	margin: 0;
}
.topProductBox01 ul li figure img,
.topProductBox02 ul li figure img{
	display: block;
	width: 100%;
	height: auto;
	border:1px solid #dfdfdf;
	border-bottom: 0px none;
	box-sizing:border-box;
}
.topProductBox01 ul li figure figcaption,
.topProductBox02 ul li figure figcaption{
	width: 100%;
	height: 34px;
	text-align: center;
	background: #2359a2;
	color: white;
	text-decoration: none;
	font-size: 14px;
	line-height: 34px;
	border:1px solid #dfdfdf;
	border-top: 0px none;
	box-sizing:border-box;
}


.topProductBox03 ul li{

	float: left;
	margin-right: 20px;
	width: 338px;
		
}

.topProductBox03 ul li:nth-child(even){
	margin-right: 0;
}
.topProductBox03 ul li a{

	display: block;
	height: 48px;
	border: 4px solid #ebebec;
	line-height: 48px;
	text-align: center;
}

.topProductBox03 ul li a figure figcaption{
	display: inline;
	background: url(../images/ico_arrow03.gif) no-repeat 0 center;
	padding-left: 18px;
}



/* topProductBox01

.topProductBox01 {
	margin-bottom: 40px;
}
.topProductBox01 ul,
.topProductBox02 ul {
	margin: 0 -11px 0 0;
	display: block;
	min-height: 1%;
}

.topProductBox01 ul:after,
.topProductBox02 ul:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
.topProductBox01 ul li,
.topProductBox02 ul li {
	position: relative;
	float: left;
	width: 226px;
	margin: 0 11px 0 0;
}
.topProductBox01 ul li figure img,
.topProductBox02 ul li figure img {
	border: 1px solid #dfdfdf;
	border-bottom: none;
}
.topProductBox01 ul li figcaption,
.topProductBox02 ul li figcaption {
	background: #0058a8;
	color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 10px 10px 6px;
}
.topProductBox01 ul li a,
.topProductBox02 ul li a {
	text-decoration: none;
	color: #333;
}
.topProductBox01 ul li a:hover figure img,
.topProductBox02 ul li a:hover figure img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	zoom: 1;
}
.topProductBox01 ul li a:hover figcaption,
.topProductBox02 ul li a:hover figcaption {
	background: #4e79b5;
}

-------------------------------------------------------------- */

/* topSlider03
-------------------------------------------------------------- */
#topSlider03 {
	width: 646px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

#topSlider03 .prev,
#topSlider03 .next {
	position: absolute;
	top: 50%;
	cursor: pointer;
	zoom: 1;
	margin-top: -13px;
	width: 12px;
	height: 26px;
}
#topSlider03 .prev {
	left: -27px;
}
#topSlider03 .next {
	right: -27px;
}
#topSlider03 .prev a,
#topSlider03 .next a {
	width: 12px;
	display: block;
}

.topSlider03In {
	width: 646px;
	overflow: hidden;
}
.topSlider03In ul {
	width: 656px;
}
.topSlider03In ul li {
	float: left;
	width: 142px;
	margin-right: 10px;
	border: 1px solid #dfdfdf;
	padding: 5px;
	text-align: center;
}
.topSlider03In ul li a {
	text-decoration: none;
	color: #333;
}
.topSlider03In ul li figcaption {
	font-weight: bold;
	margin-top: 8px;
}
.topSlider03In ul li a:hover img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	zoom: 1;
}

/* topSlider04
-------------------------------------------------------------- */
#topSlider04 {
	width: 638px;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

#topSlider04 .prev,
#topSlider04 .next {
	position: absolute;
	top: 50%;
	cursor: pointer;
	zoom: 1;
	margin-top: -13px;
	width: 12px;
	height: 26px;
}
#topSlider04 .prev {
	left: -27px;
}
#topSlider04 .next {
	right: -27px;
}
#topSlider04 .prev a,
#topSlider04 .next a {
	width: 12px;
	display: block;
}

.topSlider04In {
	width: 638px;
	overflow: hidden;
}
.topSlider04In ul {
	width: 648px;
}
.topSlider04In ul li {
	float: left;
	width: 206px;
	margin-right: 10px;	
	text-align: center;
}
.topSlider04In ul li a {
	text-decoration: none;
	color: #333;
}
.topSlider04In ul li figure img {
	border: 1px solid #dfdfdf;
	padding: 7px;
	-ms-border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}
.topSlider04In ul li figcaption {
	font-weight: bold;
	margin-top: 8px;
	letter-spacing: -0.05em;
}
.topSlider04In ul li a:hover img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	zoom: 1;
}


/* topApplicationBox01
-------------------------------------------------------------- */
.topApplicationBox01 ul {
	border: 4px solid #ebebec;
	padding: 15px 20px 0;
	margin: 20px 0 0;
}

.topApplicationBox01 ul.last {
	margin: 20px 0 0;
}

.topApplicationBox01 ul li {
	float: left;
	background: url(../images/ico_arrow03.gif) no-repeat 0 center;
	padding-left: 20px;
	margin: 0 25px 15px 0;
}


/* topInformationBox01
-------------------------------------------------------------- */
.topInformationList01 li {
	display: block;
	min-height: 1%;
}
.topInformationList01 li:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}

.topInformationBox01 {
	border: 1px solid #dfdfdf;
	padding: 15px 20px;
}
.topInformationList01 li {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.topInformationList01 li:last-child {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}
.topInformationList01 li ul li {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

/* topInformationDate01 */
.topInformationDate01 {
	float: left;
	display: inline;
	margin-right: 40px;
}

.topInformationIco01 {
	margin-top: 3px;
}


/* topInformationDetail01 */
.topInformationDetail01 {
	overflow: hidden;
}
.topInformationTit01 {
	font-size: 109%;
	font-weight: bold;
}
.topInformationTxt01 {
	margin-top: 12px;
}

/* topInformationBtn01 */
.topInformationBtn01 {
	background: url(../images/ico_arrow02.gif) left 5px no-repeat;
	padding-left: 10px;
	margin-top: 12px;
}

/* topInformationList02 */
.topInformationList02 {
	margin-top: 15px;
}
.topInformationList01 li ul.topInformationList02 li {
	background: url(../images/ico_square01.gif) left 6px no-repeat;
	padding-left: 8px;
	margin-bottom: 5px;
}
.topInformationList01 li ul.topInformationList02 li:last-child {
	margin-bottom: 0;
}





