AuthUserFile /home/sites/heteml/users/k/y/o/kyotodenkiki/web/kdn-products.com/opt/test/.htpasswd
AuthGroupFile /dev/null
AuthName "Input ID and Password."
AuthType Basic
require valid-user
<Files ~ "^.(htpasswd|htaccess)$">
    deny from all
</Files>

ErrorDocument 404 http://kdn-products.com/opt/test/404/index.html