<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="
瞬低,瞬時電圧低下保護装置,ＵＰＳ,瞬低補償,瞬低対策,瞬低とは,瞬停,瞬低保護装置,瞬時低下, 瞬時電断,京都電機器株式会社,KDP,ＫＤＰ" />
<meta name="Description" content="瞬時低下と瞬時電断を保護します。瞬低保護装置のエキスパート KDP series／京都電機器株式会社" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta name="robots" content="index,follow" />
<title>お問い合わせ｜パワーエレクトロニクス事業/オプトエレクトロニクス事業｜京都電機器株式会社</title>
<link href="common/css/import.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="common/css/font-medium.css" id="styleFontsize" />
<script type="text/javascript" src="common/js/smartrollover.js"></script>
<script type="text/javascript" src="common/js/gloval.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="common/js/jquery_cookie.js"></script>
<script type="text/javascript" src="common/js/font_size.js"></script>
<script type="text/javascript">
$(document).ready(function() {
 
//ページトップボタンにつけたid名を入れてください 
 var topBtn = $('#pagetop');
 topBtn.hide();
 
 //スクロールが100に達したらボタン表示
 $(window).scroll(function () {
if ($(this).scrollTop() > 100) {
 topBtn.fadeIn();
 } else {
 topBtn.fadeOut();
 }
 });
  
 //スクロールしてトップ
 topBtn.click(function () {
 $('body,html').animate({
 scrollTop: 0
 }, 500);
 return false;
 });
});
</script>
<link rel="stylesheet" href="common/css/lytebox.css" type="text/css" media="screen" />
<script type="text/javascript" src="common/js/lytebox.js"></script>
<!--[if lte IE 6]>
<script type="text/javascript" src="common/js/DD_belatedPNG_0.0.8a.js"></script>
<script type="text/javascript">
DD_belatedPNG.fix('.png, .sample_inner_box, .conf_btn, .reset_btn, .submit_btn, .back_btn, .login_btn');
</script>
<![endif]-->
</head>
<body>
<!-- wrapper start -->
<div id="wrapper">
  <!-- header_box start -->
  <div id="header_box">
  
    <div id="header" class="clearfix">
     <div class="left pd-left13 pd-top14">
      <p class="fs12">京都電機器株式会社の電源関連装置</p>
      <div class="mg-top4"><a href="http://kdn-products.com/power/"><img src="common/images/logo01.png" alt="Power Electronics" width="358" height="16" class="png" /></a></div>
     </div>
     <div class="left pd-left40 pd-top14">
     
      <div class="clearfix">
       <div class="left fs12">京都電機器株式会社の光学機器</div>
       <div class="left lo_text pd-top3 wd-225 txtright">ログイン／会員登録</div>
       <div class="left">
        <div class="clearfix pd-left20">
         <div class="left"><img src="common/images/h_text01.png" alt="font size" width="49" height="22" class="png" /></div>
         <div class="left"><a id="small" href="javascript:void(0);" onclick="switchFontsize('font-small'); return false;">小</a></div>
         <div class="left"><a id="medium" href="javascript:void(0);" onclick="switchFontsize('font-medium'); return false;">中</a></div>
         <div class="left"><a id="large" href="javascript:void(0);" onclick="switchFontsize('font-large'); return false;">大</a></div>
      		</div>
       </div>
      </div>
      
      <div class="clearfix">
       <div class="left"><a href="http://kdn-products.com/opt/"><img src="common/images/logo02.png" alt="Opt Electronics" width="320" height="21" class="png" /></a></div>
       <div class="left mg-top11 pd-left38"><a href="http://www.kdn.co.jp/"><img src="common/images/h_text02.png" alt="京都電機器株式会社" width="177" height="14" class="png" /></a></div>
      </div>
     
     </div>
     
    </div>

  </div>
  <!-- header_box end -->
  <!-- contents_box start -->
  <div id="contents_box">
    <h2 class="mg-top28 mg-bottom30"><img src="images/titlebar.gif" alt="お問い合わせ" width="960" height="42" /></h2>
    
    <div class="clearfix pd-bottom30">
     <div class="left">
      <div><img src="images/text01.gif" alt="電話でのお問い合わせ" width="158" height="16" /></div>
      <p class="mg-top17"><strong>〈受付時間〉<br />9:00～17:45<br />(定休日/土日祝)</strong></p>
     </div>
     <div class="left pd-left18"><img src="images/item01.gif" alt="電話でのお問い合わせ" width="302" height="86" /></div>
     <div class="left pd-left27">
      <div><img src="images/text02.gif" alt="FAXでのお問い合わせ" width="160" height="16" /></div>
      <p class="mg-top17"><strong>〈受付時間〉<br />24時間年中無休)</strong></p>
     </div>
     <div class="left pd-left18"><img src="images/item02.gif" alt="FAXでのお問い合わせ" width="275" height="86" /></div>
    </div>
    
    <div class="pd-bottom17 pd-top29 btop02"><img src="images/login_text01.gif" alt="メールでのお問い合わせ" width="181" height="16" /></div>
    
    <div class="clearfix">
    
     <div class="left wd-460">
      <div>
      <form method="post" action="#">
       <div class="login_bg">
        <div class="txtcenter pd-top47">会員アカウントをお持ちの方は下記よりログインしていただきますと<br />名前、住所などの入力項目が簡略化されます。</div>
        <div class="pd-left127 pd-top18"><input class="w01" type="text"></div>
        <div class="pd-left127 pd-top10"><input class="w01" type="text"></div>
        <div class="pd-left162 pd-top20"><input type="submit" name="submit" value=" " class="login_btn" /></div>
       </div>
      </form>
      </div>
      
      <div class="mg-top17 forget_text">パスワードを忘れられた方は<a href="http://kdn-products.com/contact/index.php">お問い合せフォーム</a>より、お問い合わせ種別で「パスワード再発行」を選んでご登録されましたメールアドレスで再発行をお申し込み下さい。</div>
     </div>
     
     <div class="right wd-460">
      <div class="nomember_bg txtcenter"><a href="#"><img src="images/contact_btn.gif" alt="お問い合わせフォーム" width="301" height="69" /></a></div>
     </div>
    
    </div>
    
  </div>
  <!-- contents_box end -->
  <!-- footer_box start -->
  <div id="footer_box">
   <p id="pagetop"><a href="#wrapper"><img src="common/images/pagetop.png" alt="TOP↑" width="33" height="38" class="png" /></a></p>
   <div id="footer">
    <p class="txtcenter pd-top34">Copyright &copy; 2013 Kyoto Denkiki Co.,Ltd. All Rights Reserved.</p>
   </div>
 </div>
  <!-- footer_box end -->
</div>
<!-- wrapper end -->
</body>
</html>
