@charset "utf-8";

/*-------------------------------*/
/*    フォント大中小設定         */
/*-------------------------------*/

div#header a#small{
	width:22px;
	height:22px;
	padding:0 2px 0 0;
	margin:0;
	background: url("../images/small_on.gif");
	background-repeat:no-repeat;
	display:block;
	overflow: hidden;
	text-indent:-10000px;
}

div#header a#medium{
	width:22px;
	height:22px;
	padding:0 2px 0 0;
	margin:0;
	background: url("../images/middle_off.gif");
	background-repeat:no-repeat;
	display:block;
	overflow: hidden;
	text-indent:-10000px;
}

div#header a#large{
	width:22px;
	height:22px;
	margin:0;
	background: url("../images/large_off.gif");
	background-repeat:no-repeat;
	display:block;
	overflow: hidden;
	text-indent:-10000px;
}

/**/

div#subheader a#small{
	width:22px;
	height:22px;
	padding:0 2px 0 0;
	margin:0;
	background: url("../images/small_on.gif");
	background-repeat:no-repeat;
	display:block;
	overflow: hidden;
	text-indent:-10000px;
}

div#subheader a#medium{
	width:22px;
	height:22px;
	padding:0 2px 0 0;
	margin:0;
	background: url("../images/middle_off.gif");
	background-repeat:no-repeat;
	display:block;
	overflow: hidden;
	text-indent:-10000px;
}

div#subheader a#large{
	width:22px;
	height:22px;
	margin:0;
	background: url("../images/large_off.gif");
	background-repeat:no-repeat;
	display:block;
	overflow: hidden;
	text-indent:-10000px;
}

/*-------------------------------*/
/*       ボディ設定     　　     */
/*-------------------------------*/

body{
	margin:0;
	padding:0;
	font-size:10px;
	line-height:14px;
	color:#333333;
	text-align:center;
 font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

h1{
	font-size:12px;
	line-height:18px;
}

div.side_bnbox{
	width:262px;
	height:350px;
	background-image:url(../../images/side_bnbox_bg.gif);
	background-repeat:no-repeat;
	background-position:bottom;
	padding:10px 0 0 8px;
	background-color:#f1f1f1;
	margin:18px 0 0 0;
	font-size:10px;
	line-height:20px;
}

div#footer li{
	line-height:240%;
	_line-height:230%;
}

div#footer ul.ful li{
	line-height:240%;
}

.f_space13{
	_padding:11px 0 0 0;
}

.fs10{
	font-size:10px;
	line-height:14px;
}

.fs14{
	font-size:12px;
	line-height:18px;
}

/*-------------------------------*/
/*           404ページ           */
/*-------------------------------*/

p.text_404{
	font-size:12px;
	line-height:18px;
}

/*-------------------------------*/
/*        　製品情報ページ       */
/*-------------------------------*/

div.kdpl_box01,
div.kdpl_box02,
div.kddb2_box01,
div.kddb2_box02,
div.kddb2_box03,
div.kddb2_q_box01,
div.kddl3_box01,
div.kddl3_box02,
div.kddl3_box03,
div.kddl3_box04,
div.kddr_p_box01,
div.kddr_p_box02,
div.kddr_p_box03,
div.kddr2_box01,
div.kddr2_box02,
div.kddr2_la_box01,
div.kddr2_la_box02,
div.kdfv2_box01,
div.kdfv2_box02,
div.kddd2_box01,
div.kddd2_box02,
div.kdhm2_box01,
div.kdhm2_box02,
div.kdfl2_box01,
div.kdfl2_box02,
div.pl_plh2_plh3_box01,
div.pl_plh2_plh3_box02,
div.pl_plh2_plh3_box03,
div.pl_plh2_plh3_box04,
div.pl_plh2_plh3_box05,
div.pls2_pls3_plsf_box01,
div.pls2_pls3_plsf_box02,
div.pls2_pls3_plsf_box03,
div.pls2_pls3_plsf_box04,
div.pls2_pls3_plsf_box05,
div.lfm-15w_box01,
div.lfm-15w_box02,
div.lfm-15w_box03,
div.lfm-15w_box04,
div.luv_box01,
div.luv_box02,
div.luv_box03,
div.luv_box04,
div.ir_box01,
div.ir_box02,
div.ir_box03,
div.uv_box01,
div.uv_box02,
div.r_box_box01,
div.lek_box01,
div.lek_box02,
div.lda_box01,
div.lda_box02,
div.lda_box03,
div.lfa_box01,
div.lfa_box02,
div.lfa_box03,
div.lla_box01,
div.lla_box02,
div.lla_box03,
div.lla_box04,
div.cable_box01,
div.plate_box01,
div.plate02_box01,
div.plate02_box02,
div.fp_box01,
div.lsj_box01,
div.lsj_box02,
div.lsj_box03,
div.lsh_box01,
div.kfs_10_15f1_box01,
div.kfs_10_15f1_box03,
div.kfs_10_15f1_box04,
div.kfs_10_15f1_box05,
div.kfs_30f1_box01,
div.kfs_30f1_box02,
div.kfs_30f1_box03,
div.kfs_60f1_box01,
div.kfs_60f1_box02,
div.kfs_60f1_box03,
div.kfs_l_box01{
	/*font-size:10px;
	line-height:18px;
 letter-spacing:1px;*/
	font-size:12px;
	line-height:18px;
}

.product_text01{
	font-size:13px;
	line-height:20px;
	color:#0059ab;
}

.product_text03{
	font-size:13px;
	line-height:20px;
	color:#2c9859;
}

.product_text04{
	font-size:13px;
	line-height:20px;
	color:#cb2624;
}

.fs_grey{
	font-size:11px;
	line-height:18px;
}

.tablebg01 td{
	color:#ffffff;
	font-weight:bold;
	background-color:#999999;
	font-size:10px;
}

.tablebg02 td{
	color:#666666;
	background-color:#ffffff;
	font-size:10px;
}

td.cell01{
	background-color:#f4f5f8;
}

td.cell02{
	background-color:#f3f8ec;
}

td.cell03{
	background-color:#fff5ef;
}

div.product01space01{
	padding-left:182px;
}

div.product01space02{
	padding-left:128px;
}

/*-------------------------------*/
/*      　　技術資料ページ       */
/*-------------------------------*/

.technical_text01{
	font-size:18px;
	_line-height:22px;
	font-weight:bold;
	color:#0059ab;
}

.technical_text03{
	font-size:18px;
	_line-height:22px;
	font-weight:bold;
	color:#2c9859;
}

.technical_text02{
	font-size:14px;
	color:#0059ab;
}

.technical_text04{
	font-size:14px;
	color:#2c9859;
}

.technical_text05{
	font-size:18px;
	_line-height:22px;
	font-weight:bold;
	color:#cb2624;
}

.technical_text06{
	font-size:14px;
	color:#cb2624;
}

div.technical_flu_box01 td,
div.technical_flu_box02 td{
	font-size:10px;
	line-height:14px;
}

.technical_space{
	padding-top:130px;
}

.technical_space02{
	padding-top:115px;
}

.technical_space03{
	padding-top:170px;
}

div.technical_flu_box04{
	width:586px;
	height:119px;
	margin:40px 0 0 0;
	padding:50px 0 0 312px;
	background-image:url(../../technical/fluorescent/images/item13.jpg);
	background-repeat:no-repeat;
}

.technical_space04{
	padding-top:18px;
}

.technical_space05{
	padding-top:5px;
}

.technical_space06{
	padding-top:13px;
}

/*-------------------------------*/
/*    サンプル機貸し出しページ   */
/*-------------------------------*/

div.sample_inner_box th{
	background-color:#f0f3f9;
	padding-left:15px;
	border-bottom:6px solid #ffffff;
	font-size:12px;
	line-height:18px;
}

div.sample_inner_box td{
	padding:0 0 6px 20px;
	font-size:12px;
	line-height:18px;
}

.sample_text02{
	font-size:12px;
	color:#2c2e7f;
	font-weight:bold;
}

p.comp_text{
	font-size:14px;
	line-height:24px;
	color:#2c2e7f;
	font-weight:bold;
	text-align:center;
	padding:199px 0 197px 0;
}

/*-------------------------------*/
/*           2期開発             */
/*-------------------------------*/

div.dl_text01{
	width:420px;
	font-size:10px;
	line-height:14px;
	color:#cc0000;
	padding:30px 0 0 0;
}

table.dltb td{
	font-size:10px;
	font-weight:bold;
	color:#333333;
	text-align:center;
	padding:2px 0 2px 0;
}

.dl_text02{
	font-size:10px;
	line-height:12px;
	font-weight:normal;
}


