@charset "UTF-8";
/*
 * contact/style.css
 *
 */


/* /contact/ common
-------------------------------------------------------------- */
.contactWrap01 {
	border: 1px solid #e1e1e1;
	background-color: #fff;
	padding: 20px;
}
.contactWrapIn01 {
	padding-bottom: 80px;
}
.contactForm01Info01 {
	padding: 20px;
	border: 1px solid #e2e2e2;
}
.contactForm01Info01 p,
.contactForm01Info01 ul li {
	color: #666;
}
.contactForm01Info01 ul {
	margin-top: 25px;
}
.contactBox01 {
	margin-bottom: 50px;
}
.contactBox01:last-child {
	margin-bottom: 0;
}

/* conactH301 */
.conactH301 {
	font-size: 150%;
	font-weight: bold;
	color: #2359a4;
	line-height: 1.3;
	border-bottom: 1px solid #dfdfdf;
	margin-bottom: 20px;
}
.conactH301 span {
	display: inline-block;
	border-bottom: 2px solid #2359a4;
	padding-bottom: 5px;
	margin-bottom: -1px;
}
.conactH301 span span#contactIcoWeb {
	display: block;
	border-bottom: none;
	padding: 0 10px 1px 32px;
	margin-bottom: 0;
	background: url(../images/ico_mail01.gif) left center no-repeat;
}
.conactH301 span span#contactIcoTel {
	display: block;
	border-bottom: none;
	padding: 0 10px 1px 27px;
	margin-bottom: 0;
	background: url(../images/ico_tel01.gif) left center no-repeat;
}
.conactH301 span span#contactIcoFax {
	display: block;
	border-bottom: none;
	padding: 0 10px 1px 27px;
	margin-bottom: 0;
	background: url(../images/ico_fax01.gif) left center no-repeat;
}

/* /contact/
-------------------------------------------------------------- */
.contactList01 {
	width: 918px;
	overflow: hidden;
}
.contactList01 ul {
	width: 933px;
	margin-top: -15px;
	display: block;
	min-height: 1%;
}
.contactList01 ul:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
.contactList01 ul li {
	float: left;
	display: inline;
	width: 296px;
	margin: 15px 15px 0 0;
}
.contactList01 ul li .contactListIn01 {
	border: 1px solid #dfdfdf;
	padding: 20px 20px 15px;
}
.contactList01 ul li figure {
	text-align: center;
}
.contactList01 ul li figcaption {
	margin-top: 20px;
	font-size: 150%;
	font-weight: bold;
	line-height: 1.3;
	color: #2359a4;
}
.contactList01 ul li .contactTxt01 {	
	border-top: 1px solid #dfdfdf;
	padding-top: 7px;
	margin-top: 7px;
	color: #666;
}

.contactList01 ul li a {
	display: block;
	text-decoration: none;
}
.contactList01 ul li a:hover figure img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	zoom: 1;
}

/* contactBtn01 */
.contactList01 ul li .contactBtn01 {
	background-color: #0058a8;
	font-size: 117%;
	text-align: center;
}
.contactList01 ul li a .contactBtn01 {
	display: block;
	padding: 10px 10px 6px;
	color: #fff;
}
.contactList01 ul li a:hover .contactBtn01 {
	background-color: #4e79b5;
}

/* contactList02 */
.contactList02 {
	display: block;
	min-height: 1%;
}
.contactList02:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}

.contactList02 li {
	float: left;
	width: 310px;
	margin-right: 20px;
	display: inline;
}
.contactList02 li div {
	display: table;
}
.contactList02 li div p {
	display: table-cell;
	vertical-align: middle;
}

.contactShop01 {
	border: 1px solid #bbb;
	font-size: 117%;
	font-weight: bold;
	color: #2359a4;
	padding: 8px 15px 5px;
	line-height: 1.3;
}
.contactShopTxt01 {
	font-size: 167%;
	font-weight: bold;
	color: #b62643;
	line-height: 1.3;
	padding: 3px 0 0 10px;
}
.contactShopTime01 {
	margin-top: 16px;
	font-size: 109%;
	color: #666;
}


/* /contact/form1
-------------------------------------------------------------- */
.contactProduct01,
.contactProductIn01 {
	display: block;
	min-height: 1%;
}
.contactProduct01:after,
.contactProductIn01:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}

.contactLocation01 {
	margin-bottom: 20px;
}

.contactProduct01 {
	background-color: #fff;
	border: 3px solid #b8c8e1;
	padding: 18px;
	margin-bottom: 10px;
}
.contactProductIn01 {
	float: left;
	width: 400px;
}
.contactProductIn01 figure {
	float: left;
	display: inline;
	margin-right: 20px;
}
.contactProductIn01 figure img {
	border: 1px solid #dfdfdf;
}
.contactProductInfo01 {
	overflow: hidden;
}
.contactProductTit01 {
	font-size: 109%;
	line-height: 1.3;
}
.contactProductTit02 {
	margin-top: 3px;
	font-size: 117%;
	font-weight: bold;
	line-height: 1.3;
	color: #3259a4;
}

.contactProductTxtBox01 {
	float: right;
	width: 470px;
}

.contactFormTxt01 {
	margin-top: 5px;
}

/* contactForm01 */
.contactForm01 {
	margin-top: 15px;
}
.contactFormTable01 {
	width: 100%;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}
.contactFormTable01 th,
.contactFormTable01 td {	
	border-bottom: 1px solid #dfdfdf;
	text-align: left;
	vertical-align: middle;	
	line-height: 1.3;
	padding: 12px 20px;
}
.contactFormTable01 th {
	width: 19%;
	background-color: #f5f5f5;
	color: #666;
	font-size: 109%;
	font-weight: bold;
}
.contactFormTable01 td {
	border-right: 1px solid #dfdfdf;
	color: #222;
}

.contactFormTable01 th.conactTit01 {
	padding: 12px 3px 12px 20px;
}
.contactFormTable01 th.conactMust01 {
	width: 7%;
	padding: 12px 20px 12px 0;
	text-align: right;
	line-height: 1.3;
}
.contactFormTable01 th.conactMust01 span {
	display: inline-block;
	padding: 3px 8px 2px;
	background-color: #ef6642;
	font-size: 85%;
	color: #fff;
}

/* radio */
.conactRadio01 li {
	display: inline-block;
	margin-right: 32px;
}
.conactRadio01 li:last-child {
	margin-right: 0;
}
.conactRadio01 li span {
	margin-left: 8px;
}

/* textarea */
.contactFormTable01 td textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
}

/* conactInputList01 */
.conactInputList01 li {
	display: inline-block;
	margin-right: 3px;
	color: #a8a8a8;
}

/* inputW01 */
.inputW01,
.inputW02,
.inputW03,
.inputW04,
.inputW05,
.inputW06 {
	border: 1px solid #d3d9da;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	color: #a8a8a8;
}

.inputW01 {
	width: 60px;
}
.inputW02 {
	width: 70px;
}
.inputW03 {
	width: 100px;
}
.inputW04 {
	width: 180px;
}
.inputW05 {
	width: 280px;
}
.inputW06 {
	width: 480px;
}

.selectW01 {
	width: 180px;
	padding: 5px;
	color: #a8a8a8;
}
/*
.selectW02 {
	margin-top: 8px;
	width: 292px;
	padding: 5px;
	color: #a8a8a8;
}
*/

/* conactAttention01 */
.conactAttention01 {
	margin-left: 20px;
	font-size: 93%;
}

/* conactAgreeTxt01 */
.conactAgreeTxt01 {
	line-height: 1.6;
}

.conactAgreeTxt02 {
	margin-top: 10px;
	font-size: 117%;
}
.conactAgreeTxt02 span {
	margin-left: 5px;
}

/* conactAgreeTxt03 */
.conactAgreeTxt03 {
	font-size: 117%;
}

/* contactSend01 */
.contactBtnBox01 {
	text-align: center;
	margin-top: 30px;
}
.contactSend01 {
	display: inline-block;
}
.contactSend01 input {
	border: 1px solid #2359a4;
	background-color: #2359a4;
	cursor: pointer;
	padding: 10px 65px 8px;
	font-size: 134%;
	font-weight: bold;
	color: #fff;
}
.contactSend01 input:hover {
	border: 1px solid #d3d3d3;
	background-color: #d3d3d3;
}

/* contactSend02 */
.contactBtnBox02 {
	text-align: center;
	margin-top: 30px;
}
.contactback01,
.contactSend02 {
	display: inline-block;
	margin: 0 8px;
}
.contactback01 input {
	border: 1px solid #c8c8c8;
	background-color: #c8c8c8;
	cursor: pointer;
	padding: 10px 45px 8px;
	font-size: 134%;
	font-weight: bold;
	color: #fff;
}
.contactSend02 input {
	border: 1px solid #3b59a0;
	background-color: #3b59a0;
	cursor: pointer;
	padding: 10px 65px 8px;
	font-size: 134%;
	font-weight: bold;
	color: #fff;
}

.contactback01 input:hover {
	border: 1px solid #d3d3d3;
	background-color: #d3d3d3;
}
.contactSend02 input:hover {
	border: 1px solid #627ab3;
	background-color: #627ab3;
}

/* contactBackTop01 */
.contactBackTop01 {
	margin-top: 12px;
}
.contactBackTop01 a {
	text-decoration: none;
}
.contactBackTop01 a span {
	background: url(../images/ico_contact_arrow01.gif) left center no-repeat;
	padding-left: 12px;
	border-bottom: 1px solid #91acd1;
}
.contactBackTop01 a:hover span {
	border-bottom: none;
}

/* /contact/form2
-------------------------------------------------------------- */
/* contactFormTable02 */
.contactFormTable02 {
	width: 100%;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}
.contactFormTable02 th,
.contactFormTable02 td {	
	border-bottom: 1px solid #dfdfdf;
	text-align: left;
	vertical-align: middle;	
	line-height: 1.3;
	padding: 12px 20px;
}
.contactFormTable02 th {
	width: 26%;
	background-color: #f5f5f5;
	color: #666;
	font-size: 109%;
	font-weight: bold;
}
.contactFormTable02 td {
	border-right: 1px solid #dfdfdf;
	color: #222;
}

/* conactInputList02 */
.conactInputList02 {
	display: block;
	min-height: 1%;
}
.conactInputList02:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
.conactInputList02 li.txtW01 {
	float: left;
	width: 40px;
	margin-top: 9px;
}
.conactInputList02 li.txtW02 {
	float: right;
}

/* conactInputList03 */
.conactInputList03 {
	display: block;
	min-height: 1%;
}
.conactInputList03:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
.conactInputList03 li.txtW01 {
	float: left;
	width: 85px;
	margin: 9px 10px 0 0;
	display: inline;
}
.conactInputList03 li.txtW02 {
	float: left;
}

/* conactInputList04 */
.conactInputList04 {
	display: block;
	min-height: 1%;
}
.conactInputList04:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
.conactInputList04 li.txtW01 {
	float: left;
	width: 40px;
	margin-right: 20px;
}
.conactInputList04 li.txtW02 {
	float: left;
}

/* conactInputList05 */
.conactInputList05 {
	display: block;
	min-height: 1%;
}
.conactInputList05:after {
	clear: both;
	content:".";
	display: block;
	height: 0;
	visibility: hidden;
}
.conactInputList05 li.txtW01 {
	float: left;
	width: 85px;
	margin: 0 10px 0 0;
	display: inline;
}
.conactInputList05 li.txtW02 {
	float: left;
}

/* inputW01 */
.inputW07,
.inputW08,
.inputW09,
.inputW10 {
	border: 1px solid #d3d9da;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
}

.inputW07 {
	width: 30px;
	margin: 0 5px 0 8px;
}
.inputW08 {
	width: 480px;
}
.inputW09 {
	width: 560px;
}

/* radio */
.conactRadio02 li {
	display: inline-block;
	margin-right: 40px;
}
.conactRadio02 li:last-child {
	margin-right: 0;
}
.conactRadio02 li span {
	margin-left: 8px;
}

/* conactSelectList01 */
.conactSelectList01 li {
	display: inline-block;
	margin-right: 5px;
}
.conactSelectList01 li.contactDate01 {
	margin-right: 20px;
}

.conactSelectList01 li.contactDate01:last-child {
	margin-right: 0;
}
.conactSelectList01 li select {
	width: 100px;
	padding: 5px;
}

/* textarea */
.contactFormTable02 td textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
}


/* error */
.error {
	color: red;
}



